@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins';
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    color : rgba(138,129,141);
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    padding: 0.25rem 1rem;
    text-align: center;
    background-color: rgb(243, 225, 255);
}

.fav-meals {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.fav-meals li {
    position: relative;
    width: 75px;
    margin: 5px;
}

.fav-meals li .clear {
    background-color: transparent;
    position: absolute;
    opacity: 0;
    top: -0.5rem;
    right: -0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.fav-meals li:hover .clear {
    opacity: 1;
}

.fav-meals li img {
    object-fit: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 0 10px 2px #3333331a;
}

.fav-meals li span {
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75px;
    display: inline-block;
}

.meal {
    margin: 1.5rem;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
}

.meal-header {
    position: relative;
}
.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-header img {
    height: 250px;
    width: 100%;
    object-fit: cover;

}
.meal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: gray;
    cursor: pointer;
}

.meal-body .fav-btn.active {
    color: rebeccapurple
}

.mobile-container {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
}

.popup-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}
.popup {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    position: relative;
    overflow: auto;
    max-height: 100vh;
    max-width: 600px;
    /* width: 100%; */
}
.popup .close-popup {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.meal-info h1 {
    text-align: center;
}

